<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
</head>
<body>
    <div class="body-img"></div>

        <div class="bg-login-center">

            <div>
                <img src="/img/login-icon.png" width="100" height="100">
            </div> <br>

    <label class="label-text input" for="user" id="user">Usuario:</label>
        <input class="input" type="text" id="user" name="user" placeholder="example@user" required><br>

    <label class="label-text" for="password" id="password">Contraseña:</label>
        <input class="input"type="password" id="password" name="password" required> <br>
        
    <button type="submit"  class=" btn-border btn-success">Acceder</button>
        <button type="reset" class=" btn-border btn-cancel">Cancelar</button>
        </div>
</body>
</html>